body {
  padding: 0;
  margin: 0;
}

input {
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
}

button {
  background-color: pink;
  color: #16141c;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

button:hover {
  color: pink;
  background-color: #16141c;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-color: #16141c;
}

.App h1 {
  color: pink;
}

