.chatroom {
    width: 600px;
    height: 350px;
    border: 2px solid pink;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 18px;
}

.chatroom .messages {
    flex: 90%;
    width: 100%;
    padding-left: 20px;
}

.chatroom .message-input {
    flex: 15%;
    width: 100%;
    display: flex;
}

.chatroom .message-input input {
    flex: 85%;
    border: none;
    border-top: 1px solid pink;
    padding-left: 20px;
    background-color: transparent;
    color: white;
    outline: none;
}

.chatroom .message-input button {
    flex: 20%;
    height: 100%;
}